
body {
    background-color: #fbfaee;
    font: sans-serif;
}

a {
    color: #abc208 ;
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0px auto;
}

#ascii {
    display: block;
    font-family: monospace;
    white-space: pre;
    float: center;
    font-size: 130%;
    text-align: center;
    margin-top: 75px;
}

#description{
    font-family: monospace;
    float: center;
}

#mobile {
    display: none;
}

/* @media Rule Phones */
@media all and (max-width: 360px) {
#computer {
    display: none;
    }

#mobile {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    } 
}

#list {
    line-height: 30px;
}

/* @media Rule Tablets */
@media all and (width: 768px) {
#computer {
    font-size: 110%;
}
}

/* @media Rule Huge Screen */
@media all and (width: 1920px) {
#computer {
    font-size: 180%;
    }
}
